<mat-list role="list">
  <mat-list-item role="listitem"
    ><a class="sideBar" routerLink="/admin">Dashboard</a></mat-list-item
  >
  <mat-list-item role="listitem"
    ><a class="sideBar" routerLink="customers">Customers</a></mat-list-item
  >

  <mat-list-item role="listitem"
    ><li>
      <a class="sideBar" routerLink="products">Products</a>
    </li></mat-list-item
  >
  <mat-list-item role="listitem"
    ><a class="sideBar" routerLink="orders">Orders</a></mat-list-item
  >
  <mat-list-item role="listitem"
    ><a class="sideBar" routerLink="">Siteye Git</a></mat-list-item
  >
</mat-list>
